@{
    ViewBag.Title = "Home Page";
}

    <table class="table">

        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Fantasy Poiints</th>
            <th>2018 Auction Value</th>
        </tr>

        @foreach (var player in ViewBag.Players)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Position</td>
                <td>@player.FantasyPoints</td>
                <td>@player.LastYearDraftValue</td>
            </tr>

        }

    </table>